pkgbase = lapi-launcher
	pkgdesc = A terminal application launcher for Linux
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Lubi-git/lapi-launcher
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = !debug
	backup = etc/lapi-launcher/config.toml
	source_x86_64 = lapi-launcher::https://github.com/Lubi-git/lapi-launcher/releases/download/v0.1.0/lapi-launcher
	source_x86_64 = config.toml::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v0.1.0/config.example.toml
	source_x86_64 = logo.png::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v0.1.0/resources/logo.png
	source_x86_64 = lapi-launcher.desktop::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v0.1.0/resources/lapi-launcher.desktop
	source_x86_64 = LICENSE::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v0.1.0/LICENSE
	sha256sums_x86_64 = 04f5d0cb8521726632a68920c5ac56ac88181bf17559009f4ee9f6df47c62015
	sha256sums_x86_64 = ad1489736450155537a9c3ae5527510610d30667682b732a6fd339726e6272cf
	sha256sums_x86_64 = 32e30e5f661efbf4b97ba89715789aa5bf8549843b7abdc6b6f0dc2bd20ec50e
	sha256sums_x86_64 = 92e9f4e437d1931b234809168eba6280fb15bd292202eb8f70c0e4b458fae1bb
	sha256sums_x86_64 = 725356961fa16dd19ee5b018258d50e4848b75eccaa556fdf567f169cf496ea1

pkgname = lapi-launcher
