pkgbase = lapi-launcher
	pkgdesc = A terminal application launcher for Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Lubi-git/lapi-launcher
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = !debug
	backup = etc/lapi-launcher/config.toml
	source_x86_64 = lapi-launcher::https://github.com/Lubi-git/lapi-launcher/releases/download/v1.0.0/lapi-launcher
	source_x86_64 = config.toml::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v1.0.0/config.example.toml
	source_x86_64 = logo.png::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v1.0.0/resources/logo.png
	source_x86_64 = lapi-launcher.desktop::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v1.0.0/resources/lapi-launcher.desktop
	source_x86_64 = LICENSE::https://raw.githubusercontent.com/Lubi-git/lapi-launcher/v1.0.0/LICENSE
	sha256sums_x86_64 = 19d4c13345ddd0cb0f34ef00c2830b13ffb9a77834c556e64653b1974eb94095
	sha256sums_x86_64 = d9fe2e51967ff7ebb148a2704d3b1e3b009d6b5271835de6139e106a01f9739a
	sha256sums_x86_64 = 32e30e5f661efbf4b97ba89715789aa5bf8549843b7abdc6b6f0dc2bd20ec50e
	sha256sums_x86_64 = 92e9f4e437d1931b234809168eba6280fb15bd292202eb8f70c0e4b458fae1bb
	sha256sums_x86_64 = 725356961fa16dd19ee5b018258d50e4848b75eccaa556fdf567f169cf496ea1

pkgname = lapi-launcher
